HELP.md

# Gradle
.gradle/
build/
node_modules/
out/
!gradle/wrapper/gradle-wrapper.jar

# Java
*.class

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Environment
.env
src/main/resources/application-local.properties

# OS
.DS_Store
Thumbs.db

# Logs
*.log